/**
 * Admin Columns
 */
 
.wp-admin.post-type-ajv_testimonials #author-image,
.wp-admin.post-type-ajv_testimonials #menu-order {
	width: 15%;
}

.wp-admin.taxonomy-ajv_testimonial_category #tax-id {
	width: 10%;
}

.wp-admin.post-type-ajv_testimonials .author-image img {
	width: 75px;
	height: 75px;
}

@media screen and (max-width: 782px) {
	
	.wp-admin.post-type-ajv_testimonials #author-image,
	.wp-admin.post-type-ajv_testimonials .author-image,
	.wp-admin.post-type-ajv_testimonials .wp-list-table .is-expanded .author-image  {
		display: none !important;
	}
	
}

/**
 * TinyMCE Custom Buttons
 */

i.mce-i-icon {
	font: normal 20px/1 'dashicons';
	padding: 0;
	vertical-align: top;
	speak: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	margin-left: -2px;
	padding-right: 2px;
}

/**
 * Testimonials Widget
 */
 
.category-checklist-label {
	margin-bottom: 4px;
}
 
.category-checklist,
.no-category {
	background-color: #fdfdfd;
	border: 1px solid #ddd;
	padding: 0.6em 0.9em 0.4em;
	margin-top: 0;
}

.no-category {
	padding: 0.6em 0.9em;
}

.category-checklist .children {
	padding-left: 18px;
    margin-top: 6px;
}
